<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> View Driver Details</h4>
                        <p class="card-category"> Edit/Remove the drivers</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Driver Name Search..." (keyup)="searchDrivers()" id="searchDriver" required [(ngModel)]="searchDriver" name="searchDriver">
                                    </mat-form-field> </div>
                            </div>
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Driver Name 
                                    </th>
                                    <th>
                                        RLA
                                    </th>
                                    <th>
                                      License Number
                                    </th>
                                    <th>
                                        Transport License Expiry
                                      </th>
                                      <th>
                                        Non Transport License Expiry
                                      </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let driver of drivers | async">
                                        <td>{{driver.id}}</td>
                                        <td>{{driver.firstName}} {{driver.lastName}}</td>
                                        <td>{{driver.driverCity}}</td>
                                        <td>{{driver.licenseNumber}}</td>
                                        <td>{{driver.transportLicenceExp | date : "d MMM y"}}</td>
                                        <td>{{driver.nonTransportLicenceExp | date : "d MMM y"}}</td>
                                        <td class="td-actions text-left">
                                            <button mat-raised-button type="button" [routerLink]="['/editDriver', driver.id]" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" *ngIf="'ADMIN'==role" (click)="deleteDriver(driver.id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                      </tr>
                                  
                                   
                                </tbody>
                            </table>
                        </div>
                        <nav *ngIf="totalPages>1" aria-label="Page navigation example" style="text-align:center">
                            <ul class="pagination pagination-circle pg-blue">
                              <li class="page-item"><a class="page-link" (click)="first()" mdbWavesEffect>First</a></li>
                              <li class="page-item">
                                <a class="page-link" aria-label="Previous" (click)="prev()" mdbWavesEffect>
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li   *ngFor="let pageNum of  arrayOne(totalPages); let currentElementIndex=index"><a class="page-link active" (click)="getDriverList(currentElementIndex)" mdbWavesEffect>{{currentElementIndex+1}}</a></li>
                              <li class="page-item">
                                <a class="page-link" aria-label="Next" (click)="next()" mdbWavesEffect>
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" (click)="last()" mdbWavesEffect>Last</a></li>
                              <li class="page-item active"><a  class="page-link" mdbWavesEffect>{{genericDTO.pageNum+1}}</a></li>
                            </ul>
                          </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
