<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-success">
                        <h4 class="card-title mt-0"> View Student Course Details</h4>
                        <p class="card-category"> Student Courses Logs</p>
                    </div>
                    <div class="card-body">
                            
                        <div class="table-responsive">
                            <button mat-raised-button type="button" [routerLink]="['/addStudentCourse']" class="btn btn-danger pull-left">Add Student Course</button>
                
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Student</th>
                                    <th>Phone</th>
                                    <th>Course Start Date</th>
                                    <th>CCC Expected Date</th>
                                    <th>Course End Date</th>
                                    <th>Road Test Date</th>
                                    <th >Action</th>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let studentCourse of studentCourses | async">
                                            <td >{{studentCourse.student.lastName}},{{studentCourse.student.firstName}}</td>
                                            <td>{{studentCourse.student.phoneNo}}</td>
                                            <td>{{studentCourse.startDate | date : "d MMM y"}}</td>
                                            <td>{{studentCourse.endDate | date : "d MMM y"}}</td>
                                            <td>{{studentCourse.cccExpectedDate | date : "d MMM y"}}</td>
                                            <td><button mat-raised-button type type="button" (click)="setCourseDetail(studentCourse.studCourseDetList)" class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target="#viewRoadTest">
                                                Road Test View
                                              </button></td>
                                            <!-- <td>{{student.modifiedDate}}</td> -->
                                           
                                        <td class="td-actions text-left">
                                                <button mat-raised-button type="button" [routerLink]="['/editStudentCourse', studentCourse.id]" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button"  (click)="deleteStudentCourse(studentCourse.id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                                <button mat-raised-button type type="button" (click)="populateModal(studentCourse)" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                                    Add Road Test
                                                  </button>
                                                  
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <!-- Modal -->
                   
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Road Test Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker] = "pickerroadTestDate" id="roadTestDate" data-target="#exampleModal" ng-model-options="{timezone: 'ist'}"  placeholder = "Road Test Date" [(ngModel)]="roadTestDate" name="roadTestDate">
                        <mat-datepicker-toggle matSuffix [for] = "pickerroadTestDate" ></mat-datepicker-toggle>
                        <mat-datepicker #pickerroadTestDate ></mat-datepicker>
                   </mat-form-field> 
                  
                  </div>
            
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" (click)="close()" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" (click)="saveStudentDetails()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="viewRoadTest" tabindex="-1" role="dialog" aria-labelledby="viewRoadTestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-body">
            <table class="table table-hover">
              <thead class="">
                  <th>Road Test Dates</th>
                  </thead>
              <tbody>
                      <tr *ngFor="let courseDet of studentCourseDetailList">
                          <td>{{courseDet.roadTestDate | date : "d MMM y"}}</td>
                          <td><button mat-raised-button type type="button" (click)="setCourseDetail(studentCourse.studCourseDetList)" class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target="#viewRoadTest">
                              Road Test View
                            </button></td>
                          <!-- <td>{{student.modifiedDate}}</td> -->
                         
                      <td class="td-actions text-left">
                              <button mat-raised-button type="button" data-dismiss="modal" (click)="deleteStudentCourseDetails(courseDet.id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">close</i>
                              </button>
                          </td>
                  </tr>
              </tbody>
          </table>

          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  