<div class="main-content" *ngIf="studentPayments?.length > 0" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-success">
                        <h4 class="card-title mt-0"> View Student Payment Details</h4>
                    </div>
                    <div class="card-body">
                            
                        <div class="table-responsive">
                    
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Student</th>
                                    <th>Payment Amount</th>
                                    <th>Payment Date</th>
                                    <th>Remarks</th>
                                    <th >Action</th>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let studentPayments of studentPayments | async">
                                            <td >{{studentPayments.student.lastName}},{{studentPayments.student.firstName}}</td>
                                            <td>{{studentPayments.payment}}</td>
                                            <td>{{studentPayments.paymentDate | date : "d MMM y"}}</td>
                                            <td>{{studentPayments.remarks}}</td>
                                            <!-- <td>{{student.modifiedDate}}</td> -->
                                           
                                        <td class="td-actions text-left">
                                            <button mat-raised-button type="button" (click)="deleteStudentPayment(studentPayments.id)" class="btn btn-success pull-left">ACCEPT</button>
                                            <button mat-raised-button type="button" (click)="rejectStudentPayment(studentPayments.id)" class="btn btn-danger pull-left">REJECT</button>
                       
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  